* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.paragraph_text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.main_logo {
    font-size: 64px;
    color: #1F3F68;
}

.contat_us_title {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.footer_text {
    font-size: 36px;
    text-align: center;
}

.point {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.form_element {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}